<div class="row" ng-controller="CategoriaCtrl as categoria" ng-init="categoria.initCategorias()">

    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Categoria</h3>
            </div>
            <div class="panel-body">
                <uib-tabset active="activeTabCategoria">
                    <uib-tab index="0" heading="Pesquisa">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <table class="table table-hover table-condensed" >
                                    <thead>
                                        <tr>
                                            <th style="width: 100px">ID</th>
                                            <th style="width: 100px">Código</th>
                                            <th style="width: 200px">Departamento</th>
                                            <th>Categoria</th>                            
                                            <th style="width: 200px">Status Integra&ccedil;&atilde;o</th>
                                            <th style="width: 95px"></th>
                                        </tr>
                                    </thead>
                                    <tbody ng-repeat="itm in categoria.itens">
                                        <tr >

                                            <td>{{itm.id}}</td>
                                            <td>{{itm.codigo}}</td>
                                            <td>{{itm.categoriaPai.descricao}}
                                            <td>{{itm.descricao}}</td>
                                            <td>{{itm.statusIntegracao}}</td>
                                            <td>
                                                <button class="btn btn-warning btn-sm" ng-click="categoria.select(itm)"><i class="fa fa-edit"></i></button>
                                                <button class="btn btn-danger btn-sm" ng-click="categoria.askDelete(itm)"><i class="fa fa-remove"></i></button>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </uib-tab>
                    <uib-tab index="1" heading="Manuten&ccedil;&atilde;o">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="form-group col-md-4 col-sm-6">
                                    <label for="departametno">Departamento</label>
                                    <select type="text" id="departametno" class="form-control input-sm" ng-options="item as item.descricao for item in categoria.departamentos track by item.id" ng-model="categoria.itemSelecionado.categoriaPai"></select>
                                </div> 

                                <div class="form-group col-md-2 col-sm-6">
                                    <label for="codigo">C&oacute;digo da categoria</label>
                                    <input type="text" class="form-control input-sm" placeholder="Codigo da categoria" ng-model="categoria.itemSelecionado.codigo"
                                           id="codigo" name="codigo">
                                </div>

                                <div class="form-group col-md-6 col-sm-6">
                                    <label for="descricao">Nome da Categoria</label>
                                    <input type="text" class="form-control input-sm" placeholder="Nome da categoria" ng-model="categoria.itemSelecionado.descricao"
                                           id="descricao" name="descricao">
                                </div>

                                <div class="form-group col-md-2 col-sm-4" ng-show="categoria.itemSelecionado.id">
                                    <label for="statusIntegracao">Status Integracao</label>
                                    <input type="text" class="form-control input-sm" disabled ng-model="categoria.itemSelecionado.statusIntegracao"
                                           id="statusIntegracao" name="statusIntegracao">
                                </div>

                            </div>
                            <div class="panel-footer text-right">
                                
                                <button type="button" ng-click="categoria.clear()" class="btn btn-warning">Cancelar</button>
                                <button type="button" ng-click="categoria.save()" class="btn btn-primary">Salvar</button>
                            </div>
                        </div>
                    </uib-tab>

                </uib-tabset>

            </div>
        </div>
    </div>
</div>
