<div class = "row" ng-controller="LojaCtrl as loja">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Cadastro</h3>
            </div>
            <div class="panel-body">
                <uib-tabset active="activeTabLoja">
                    <uib-tab index="0" heading="Pesquisa">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <table class="table table-hover table-condensed">
                                    <thead>
                                        <tr>
                                            <th style="width: 100px">ID</th>
                                            <th style="width: 200px">Código ecommerce</th>
                                            <th style="width: 100px">Código ERP</th>
                                            <th>Nome</th>
                                            <th style="width: 200px">cnpj</th>
                                            <th style="width: 100px">Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="itm in loja.itens">
                                            <td>{{itm.id}}</td>
                                            <td>{{itm.codigoEcommerce}}</td>
                                            <td>{{itm.codigoErp}}</td>
                                            <td>{{itm.nome}}</td>
                                            <td>{{itm.cnpj}}</td>
                                            <td>
                                                <button class="btn btn-warning btn-sm" ng-click="loja.select(itm)"><i class="fa fa-edit"></i></button>
                                                <button class="btn btn-danger btn-sm" ng-click="loja.askDelete(itm)"><i class="fa fa-remove"></i></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </uib-tab>

                    <uib-tab index="1" heading="Manuten&ccedil;&atilde;o">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="form-group col-md-2 col-sm-6">
                                    <label for="codigoEcommerce">Código do Ecommerce</label>
                                    <input type="text" class="form-control input-sm" placeholder="C&oacute;d Ecommerce" ng-model="loja.itemSelecionado.codigoEcommerce"
                                           id="codigoEcommerce" nome="codigoEcommerce" />
                                </div>
                                <div class="form-group col-md-2 col-sm-6">
                                    <label for="codigoErp">Código do ERP</label>
                                    <input type="text" class="form-control input-sm" placeholder="C&oacute;d ERP" ng-model="loja.itemSelecionado.codigoErp"
                                           id="codigoErp" nome="codigoErp" />
                                </div>
                                <div class="form-group col-md-4 col-sm-6">
                                    <label for="cnpj">CNPJ</label>
                                    <input type="text" class="form-control input-sm" placeholder="CNPJ" ng-model="loja.itemSelecionado.cnpj"
                                           id="cnpj" nome="cnpj" />
                                </div>
                                <div class="form-group col-md-6 col-sm-6">
                                    <label for="nome">Nome</label>
                                    <input type="text" class="form-control input-sm" placeholder="Nome da Filial" ng-model="loja.itemSelecionado.nome"
                                           id="nome" nome="nome">
                                </div>
                                <div class="form-group col-md-6 col-sm-6">
                                    <label for="inscricaoEstadual">Inscrição Estadual</label>
                                    <input type="text" class="form-control input-sm" placeholder="Inscricao Estadual" ng-model="loja.itemSelecionado.inscricaoEstadual"
                                           id="inscricaoEstadual" nome="inscricaoEstadual">
                                </div>
                                <div class="form-group col-md-6 col-sm-6 ">
                                    <label for="inscricaoMunicipal">Inscrição Municipal</label>
                                    <input type="text" class="form-control input-sm" placeholder="Inscricao Municipal" ng-model="loja.itemSelecionado.inscricaoMunicipal"
                                           id="inscricaoMunicipal" nome="inscricaoMunicipal">
                                </div>
                                <div class="form-group col-md-3 col-sm-6 ">
                                    <label for="cep">CEP</label>
                                    <input type="text" class="form-control input-sm" placeholder="CEP" ng-model="loja.itemSelecionado.cep"
                                           id="cep" nome="cep">
                                </div>
                                <div class="form-group col-md-1 col-sm-12">
                                    <label for="uf">UF</label>
                                    <select class="form-control input-sm" name="uf" id="uf"
                                            ng-model="loja.uf"
                                            ng-options="uf for uf in loja.paramDefault.ufs">
                                        <option value="" selected>UF</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-4 col-sm-6 ">
                                    <label for="municipio">Municipio</label>
                                    <input type="text" class="form-control input-sm" placeholder="Municipio" ng-model="loja.itemSelecionado.municipio"
                                           id="municipio" nome="municipio">
                                </div>
                                <div class="form-group col-md-4 col-sm-6 ">
                                    <label for="codigoMunicipio">Codigo Municipio</label>
                                    <input type="text" class="form-control input-sm" placeholder="Código Municipio" ng-model="loja.itemSelecionado.codigoMunicipio"
                                           id="codigoMunicipio" nome="codigoMunicipio">
                                </div>
                                <div class="form-group col-md-4 col-sm-6 ">
                                    <label for="bairro">Bairro</label>
                                    <input type="text" class="form-control input-sm" placeholder="Bairro" ng-model="loja.itemSelecionado.bairro"
                                           id="bairro" nome="bairro">
                                </div>
                                <div class="form-group col-md-4 col-sm-6 ">
                                    <label for="logradouro">Logradouro</label>
                                    <input type="text" class="form-control input-sm" placeholder="Logradouro" ng-model="loja.itemSelecionado.logradouro"
                                           id="logradouro" nome="logradouro">
                                </div>
                                <div class="form-group col-md-4 col-sm-6 ">
                                    <label for="numero">Numero</label>
                                    <input type="text" class="form-control input-sm" placeholder="Numero" ng-model="loja.itemSelecionado.numero"
                                           id="numero" nome="numero">
                                </div>
                                <div class="form-group col-md-4 col-sm-12 ">
                                    <label for="complemento">Complemento</label>
                                    <input type="text" class="form-control input-sm" placeholder="Complemento" ng-model="loja.itemSelecionado.complemento"
                                           id="complemento" nome="complemento" />
                                </div>
                            </div>
                            <div class="panel-footer text-right">
                                <button type="button" ng-click="loja.clear()" class="btn btn-warning">Cancelar</button>
                                <button type="button" ng-click="loja.save()" class="btn btn-primary">Salvar</button>
                            </div>
                        </div>
                    </uib-tab>
                </uib-tabset>

            </div>

        </div>

    </div>

</div>



