<div class="row" ng-controller="DepartamentoCtrl as categoria" ng-init="categoria.initDepartamento()">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Departamento</h3>
            </div>

            <div class="panel-body">
                <uib-tabset active="activeTabDepartamento">
                    <uib-tab index="0" heading="Pesquisa">
                        <div class="panel panel-default">
                            <div class="panel panel-default">
                                <table class="table table-hover table-condensed" >
                                    <thead>
                                        <tr>

                                            <th>ID</th>
                                            <th>Código</th>
                                            <th>Departamento</th>
                                            <th>Status Integra&ccedil;&atilde;o</th>
                                            <th style="width: 95px"></th>
                                        </tr>
                                    </thead>
                                    <tbody >
                                        <tr ng-repeat="itm in categoria.itens">

                                            <td style="width: 100px">{{itm.id}}</td>
                                            <td style="width: 100px">{{itm.codigo}}</td>
                                            <td>{{itm.descricao}}</td>
                                            <td style="width: 200px">{{itm.statusIntegracao}}</td>
                                            <td>
                                                <button class="btn btn-warning btn-sm" ng-click="categoria.select(itm)"><i class="fa fa-edit"></i></button>
                                                <button class="btn btn-danger btn-sm" ng-click="categoria.askDelete(itm)"><i class="fa fa-remove"></i></button>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>                   
                    </uib-tab>
                    <uib-tab index="1" heading="Manuten&ccedil;&atilde;o">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="form-group col-md-2 col-sm-4">
                                    <label for="codigo">C&oacute;digo da departamento</label>
                                    <input type="text" class="form-control input-sm" placeholder="C&oacute;digo da departamento" ng-model="categoria.itemSelecionado.codigo"
                                           id="codigo" name="codigo">
                                </div>

                                <div class="form-group col-md-10 col-sm-8">
                                    <label for="descricao">Nome da departamento</label>
                                    <input type="text" class="form-control input-sm" placeholder="Nome da departamento" ng-model="categoria.itemSelecionado.descricao"
                                           id="descricao" name="descricao">
                                </div>

                                <div class="form-group col-md-2 col-sm-4" ng-show="categoria.itemSelecionado.id">
                                    <label for="statusIntegracao">Status Integracao</label>
                                    <input type="text" class="form-control input-sm" disabled ng-model="categoria.itemSelecionado.statusIntegracao"
                                           id="statusIntegracao" name="statusIntegracao">
                                </div>
                            </div>
                            <div class="panel-footer text-right">
                                <button type="button" ng-click="categoria.clear()" class="btn btn-warning">Cancelar</button>
                                <button type="button" ng-click="categoria.save()" class="btn btn-primary">Salvar</button>
                            </div>
                        </div>
                    </uib-tab>
                </uib-tabset>
            </div>

        </div>
    </div>
</div>