<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div class="row" ng-controller="CategorizacaoCtrl as categoria" ng-init="categoria.initSubCategorias()">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Categoriza&ccedil;&atilde;o</h3>
            </div><div class="panel-body">
                <uib-tabset active="activeTabCategorizacao">
                    <uib-tab index="0" heading="Pesquisa">
                        <div class="panel panel-default">
                            <table class="table table-condensed">
                                <thead>
                                    <tr>
                                        <th style="width: 150px">C&oacute;digo produto</th>
                                        <th>Descri&ccedil;&atilde;o do produto</th>
                                        <th style="width: 100px">&nbsp;</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <input type="text" class="form-control input-xs"
                                                   ng-model="categoria.paramConsulta.code"
                                                   id="loteIni" name="loteIni">
                                        </td>
                                        <td>
                                            <input type="text" class="form-control input-xs"
                                                   ng-model="categoria.paramConsulta.desc"
                                                   id="loteFim" name="loteFim">
                                        </td>
                                        <td>
                                            <button type="button" ng-disabled="(!categoria.paramConsulta.code && !categoria.paramConsulta.desc)" ng-click="categoria.searchProduto()" class="btn btn-primary">Consultar</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="panel panel-default">
                            <!--<div class="panel-body">-->
                            <table class="table table-hover table-condensed">
                                <thead>
                                    <tr>
                                        <th style="width: 30px">#</th>
                                        <th style="width: 80px">id</th>
                                        <th style="width: 80px">Codigo</th>
                                        <th style="width: 150px">Ean do Produto</th>
                                        <th>Descri&ccedil;&atilde;o</th>
                                        <th style="width: 190px">Categoria</th>
                                        <th style="width: 180px">Status Integra&ccedil;&atilde;o</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="itm in categoria.produtos">
                                        <td>
                                            <input type="checkbox" ng-model="itm.selecionado" ng-click="categoria.selecionados(itm)" >
                                        </td>
                                        <td>{{itm.id}}</td>
                                        <td>{{itm.codigo}}</td>
                                        <td>{{itm.ean}}</td>
                                        <td>{{itm.descricao|limitTo:80}}</td>
                                        <td>{{itm.categoria.descricao|limitTo:20}}</td>
                                        <td>{{itm.statusIntegracao}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="panel-footer text-right">
                                <button type="button" ng-disabled="categoria.produtosSelecionado.length == 0" class="btn btn-primary" ng-click="categoria.avancar()">Manuten&ccedil;&atilde;o</button>
                            </div>
                            <!--</div>-->
                        </div>
                        <!--                                <form id="frmFiltro" name="frmFiltro">
                        
                                                            <div class="form-group col-md-3 col-sm-6">
                                                                <label for="loteIni">C&oacute;digo produto</label>
                                                                <input type="text" class="form-control input-sm" ng-model="categoria.paramConsulta.code"
                                                                       id="loteIni" name="loteIni">
                                                            </div>
                                                            <div class="form-group col-md-8 col-sm-6">
                                                                <label for="loteFim">Descri&ccedil;&atilde;o do produto</label>
                                                                <input type="text" class="form-control input-sm" ng-model="categoria.paramConsulta.desc"
                                                                       id="loteFim" name="loteFim">
                                                            </div>
                                                            <div class="panel-footer text-right">
                                                                <button type="button" ng-click="categoria.searchProduto()" class="btn btn-primary">Consultar</button>
                                                            </div>
                                                        </form>-->
                    </uib-tab>
                    <uib-tab index="1" heading="Manuten&ccedil;&atilde;o">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="panel panel-default">
                                    <div>
                                        <div class="form-group col-md-4 col-sm-6">
                                            <label for="departametno">Departamento</label>
                                            <select type="text" id="departametno" ng-change="categoria.selectCategoriaByDept()" class="form-control input-sm" ng-options="item as item.descricao for item in categoria.departamentos" ng-model="categoria.departamento">
                                                <option value="">Departamento</option>
                                            </select>
                                        </div> 

                                        <div class="form-group col-md-4 col-sm-6">
                                            <label for="categoria">Categoria</label>
                                            <select type="text" id="categoria" ng-change="categoria.selectSubCategoriaBy()" class="form-control input-sm" ng-options="item as item.descricao for item in categoria.categorias" ng-model="categoria.itemSelecionado.categoriaPai">
                                                <option value="">Categoria</option>
                                            </select>
                                        </div> 

                                        <div class="form-group col-md-4 col-sm-6">
                                            <label for="sub-categoria">Sub-categoria</label>
                                            <select type="text" id="sub-categoria" class="form-control input-sm" ng-options="item as item.descricao for item in categoria.subCategorias track by item.id" ng-model="categoria.subCategoria">
                                                <option value="">Sub-Categoria</option>
                                            </select>
                                        </div> 
                                    </div>
                                    <table class="table table-hover table-condensed">
                                        <thead>
                                            <tr>
                                                <th>id</th>
                                                <th>Codigo</th>
                                                <th>Ean do Produto</th>
                                                <th>Descri&ccedil;&atilde;o</th>
                                                <th>Categoria</th>
                                                <th>Peso</th>
                                                <th>Largura</th>
                                                <th>Altura</th>
                                                <th>Comprimento</th>
                                                <th>Status Integra&ccedil;&atilde;o</th>
                                                <th>Ação</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="itm in categoria.produtosSelecionado">
                                                <td>{{itm.id}}</td>
                                                <td>{{itm.codigo}}</td>
                                                <td>{{itm.ean}}</td>
                                                <td>{{itm.descricao}}</td>
                                                <td>{{itm.categoria.id}}</td>
                                                <td>{{itm.peso}}</td>
                                                <td>{{itm.largura}}</td>
                                                <td>{{itm.altura}}</td>
                                                <td>{{itm.comprimento}}</td>
                                                <td>{{itm.statusIntegracao}}</td>
                                                <td>
                                                    <button class="btn btn-danger btn-sm" ng-click="itm.selecionado = false; categoria.selecionados(itm)"><i class="fa fa-remove"></i></button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="panel-footer text-right">
                                        <button type="button" ng-click="categoria.clear()" class="btn btn-warning">Cancelar</button>
                                        <button type="button" ng-disabled="categoria.subCategoria.id == null" ng-click="categoria.saveProduto()" class="btn btn-primary">Salvar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </uib-tab>
                </uib-tabset>
            </div>
        </div>
    </div>
</div>