<div class = "row" ng-controller="JobCtrl as $ctrl" ng-init="$ctrl.init()" >

    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Jobs em processo</h3>
            </div>
            <div class="panel-body">
                <table class="table table-hover table-condensed">
                    <thead>
                        <tr>
                            <th width="350" >Job</th>
                            <th>descricao</th>
                            <th width="200">&Uacute;ltima execu&ccedil;&atilde;o</th>
                            <th width="100">Ativo</th>
                            <th  class="text-right" width="120">Ação</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="itm in $ctrl.itens">
                            <td>{{itm.nome}}</td>
                            <td>{{itm.descricao}}</td>
                            <td>{{itm.dataUltimaExecucao | date : 'dd/MM/yyyy HH:mm:ss'}}</td>
                            <td>
                                <button class="btn btn-block" ng-click="$ctrl.ativaDesativa(itm)"
                                        ng-class="itm.ativa ? 'btn-success' : 'btn-danger'" type="button">
                                    <i class="fa fa-gears"></i> {{itm.ativa ? 'Ativo' : 'Inativo'}}
                                </button>
                            </td>
                            <td class="text-right">
                                <a ui-sref="job-log({id:itm.nome})" title="Logs" class="btn btn-info" ><i class="fa fa-eye"></i></a>
                                <button type="button" title="Execu&ccedil;&atilde;o manual" ng-click="$ctrl.processaManual(itm)" class="btn btn-danger" ><i class="fa fa-gear"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="panel-footer text-center">
                <ul uib-pagination total-items="$ctrl.itens.length" ng-model="$ctrl.currentPage" max-size="15" class="pagination-sm" items-per-page="25"></ul>
            </div>
        </div>
    </div>

</div>



