<div class = "row" ng-controller="PedidoCtrl as pedido"  ng-init="pedido.carregarPorStatus()">

    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Pedidos em processamento</h3>
            </div>
            <div class="panel-body">
                <table class="table table-hover table-condensed">
                    <thead>
                        <tr>
                            <th style="width: 100px" class="text-right" >Nr site</th>
                            <th>CLiente</th>
                            <th style="width: 180px" class="text-center">Data da compra</th>
                            <th style="width: 100px" class="text-right">Qtd. itens</th>
                            <th style="width: 150px" class="text-right">Valor pedido</th>
                            <th style="width: 220px" class="text-center">Status ERP</th>
                            <th style="width: 120px" class="text-center">A&ccedil;&otilde;es</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="itm in pedido.itens.slice((pedido.currentPage - 1) * 25, pedido.currentPage * 25)">
                            <td class="text-right">{{itm.codigoPedido}}</td>
                            <td>{{itm.cliente.nome}}</td>
                            <td class="text-center">{{itm.dataCompra| date : "dd/MM/yyyy HH:mm:ss"}}</td>
                            <td class="text-right">{{itm.quantidadeItens}}</td>
                            <td class="text-right">{{itm.valorTotalPedido|currency:'':2}}</td>
                            <td class="text-center">{{itm.statusErpIntegrado}}</td>
                            <td class="text-center">
                                
                                <button title="Marca pedido para não ser monitorado pelo integrador" 
                                        class="btn btn-xs btn-warning" 
                                        ng-click="pedido.removerPedidoEcommerceMonitoramento(itm)" ><i class="fa fa-unlink"></i></button>
                                <button title="Re-integrar pedido, isto deleta o pedido importado e notifica o ecommerce que não foi possível integrar" 
                                        class="btn btn-xs" ng-class="itm.statusErpIntegrado !== 'ERRO' ? 'btn-default' : 'btn-danger'"
                                        ng-click="pedido.reIntegrarPedidoEcommerce(itm)" 
                                        ng-disabled="(itm.statusErpIntegrado !== 'ERRO')" ><i class="fa fa-remove"></i></button>
                                <a ui-sref="pedido-detalhe({id:itm.id})" title="Visualizar" class="btn btn-xs btn-info" ><i class="fa fa-eye"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="panel-footer text-center">
                <ul uib-pagination total-items="pedido.itens.length" ng-model="pedido.currentPage" max-size="15" class="pagination-sm" items-per-page="25"></ul>
                <ul class="text-left">
                    <li class="text-info"><i class="fa fa-eye"></i> Visualizar detalhes do pedido</li>
                    <li class="text-danger"><i class="fa fa-remove"></i> Re-integrar pedido, isto deleta o pedido importado e notifica o ecommerce que não foi possível integrar</li>
                    <li class="text-warning"><i class="fa fa-unlink"></i> Marca pedido para não ser monitorado pelo integrador</li>
                </ul>
            </div>
        </div>
    </div>

</div>

