<div class="row">
	<div class="col-md-12">
		<div class="page-header">
			<h1>
				Pedido <small>Rastreamento</small>
			</h1>
		</div>
	</div>
</div>
<div class="row"
	ng-controller="PedidoRastreamentoCtrl as pedidoRastreamento">
	<div class="col-md-12">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Cadastro</h3>
			</div>
			<div class="panel-body">
				<div class="form-group col-md-2 col-sm-6">
					<label for="cep">Código</label> <input type="text"
						class="form-control input-sm" placeholder="Código"
						ng-model="pedidoRastreamento.itemSelecionado.codigo" id="codigo"
						nome="codigo">
				</div>
				<div class="form-group col-md-10 col-sm-6">
					<label for="descricao">Descricao</label> <input type="text"
						class="form-control input-sm" placeholder="Descricao"
						ng-model="pedidoRastreamento.itemSelecionado.descricao"
						id="descricao" nome="descricao">
				</div>
				<div class="form-group col-md-6 col-sm-6">
					<label for="descricao">Observacao</label> <input type="text"
						class="form-control input-sm" placeholder="Observacao"
						ng-model="pedidoRastreamento.itemSelecionado.observacao"
						id="observacao" nome="observacao">
				</div>
				<div class="form-group col-md-6 col-sm-6">
					<label for="dataHora">Data</label> <input type="text"
						class="form-control input-sm" placeholder="Data"
						ng-model="pedidoRastreamento.itemSelecionado.dataHora"
						id="dataHora" nome="dataHora">
				</div>
				<div class="form-group col-md-6 col-sm-6">
					<label for="statusIntegracao">Status da Integracao</label> <input
						type="text" class="form-control input-sm"
						placeholder="Status da Integracao"
						ng-model="pedidoRastreamento.itemSelecionado.statusIntegracao"
						id="statusIntegracao" nome="statusIntegracao">
				</div>
			</div>
			<div class="panel-footer text-right">
				<button type="button" ng-click="pedidoRastreamento.save()" class="btn btn-primary">Salvar</button>
			</div>
		</div>
	</div>
	<div class="col-md-12">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Rastreamento de Pedidos</h3>
			</div>
			<div class="panel-body">
				<table class="table table-hover table-condensed">
					<thead>
						<tr>
							<th>ID</th>
							<th>Pedido</th>
							<th>Codigo</th>
							<th>Descricao</th>
							<th>Observacao</th>
							<th>Data</th>
							<th>Status da Integracao</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="itm in pedidoRastreamento.itens">
							<td>{{itm.id}}</td>
							<td>{{itm.pedido.id}}</td>
							<td>{{itm.codigo}}</td>
							<td>{{itm.descricao}}</td>
							<td>{{itm.observacao}}</td>
							<td>{{itm.dataHora}}</td>
							<td>{{itm.statusIntegracao}}</td>
							<td>
								<button class="btn btn-warning btn-sm"
									ng-click="pedidoRastreamento.select(itm)">
									<i class="fa fa-edit"></i>
								</button>
								<button class="btn btn-danger btn-sm"
									ng-click="pedidoRastreamento.askDelete(itm)">
									<i class="fa fa-remove"></i>
								</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>