<div class="row">
	<div class="col-md-12">
		<div class="page-header">
			<h1>
				Pedido <small> Entrega</small>
			</h1>
		</div>
	</div>
</div>
<div class="row" ng-controller="PedidoEntregaCtrl as pedidoEntrega">

	<div class="col-lg-12">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Cadastro</h3>
			</div>
			<div class="panel-body">
				<div class="form-group col-md-2 col-sm-6">
					<label for="idpedido">ID do pedido</label> <input type="text"
						class="form-control input-sm" placeholder="ID do pedido"
						ng-model="pedidoEntrega.itemSelecionado.pedido.id" id="idpedido"
						nome="idpedido">
				</div>
				<div class="form-group col-md-4 col-sm-6">
					<label for="cep">CEP</label> <input type="text"
						class="form-control input-sm" placeholder="CEP"
						ng-model="pedidoEntrega.itemSelecionado.cep" id="cep" nome="cep">
				</div>

				<div class="form-group col-md-1 col-sm-12">
					<label for="uf">UF</label> <select class="form-control input-sm"
						name="uf" ng-model="pedidoEntrega.itemSelecionado.uf"
						ng-options="uf for uf in pedidoEntrega.paramDefault.ufs">
						<option value="">UF</option>
					</select>
				</div>
				<div class="form-group col-md-3 col-sm-6 ">
					<label for="municipio">Municipio</label> <input type="text"
						class="form-control input-sm" placeholder="Municópio"
						ng-model="pedidoEntrega.itemSelecionado.municipio" id="municipio"
						nome="municipio">
				</div>
				<div class="form-group col-md-2 col-sm-6 ">
					<label for="codigoMunicipio">Codigo Municipio</label> <input
						type="text" class="form-control input-sm"
						placeholder="Código Municipio"
						ng-model="pedidoEntrega.itemSelecionado.codigoMunicipio"
						id="codigoMunicipio" nome="codigoMunicipio">
				</div>
				<div class="form-group col-md-3 col-sm-6 ">
					<label for="bairro">Bairro</label> <input type="text"
						class="form-control input-sm" placeholder="Bairro"
						ng-model="pedidoEntrega.itemSelecionado.bairro" id="bairro"
						nome="bairro">
				</div>
				<div class="form-group col-md-4 col-sm-6 ">
					<label for="logradouro">Logradouro</label> <input type="text"
						class="form-control input-sm" placeholder="Logradouro"
						ng-model="pedidoEntrega.itemSelecionado.logradouro"
						id="logradouro" nome="logradouro">
				</div>
				<div class="form-group col-md-2 col-sm-6 ">
					<label for="numero">Numero</label> <input type="text"
						class="form-control input-sm" placeholder="Numero"
						ng-model="pedidoEntrega.itemSelecionado.numero" id="numero"
						nome="numero">
				</div>
				<div class="form-group col-md-3 col-sm-6 ">
					<label for="complemento">Complemento</label> <input type="text"
						class="form-control input-sm" placeholder="Complemento"
						ng-model="pedidoEntrega.itemSelecionado.complemento"
						id="complemento" nome="complemento">
				</div>
				<div class="form-group col-md-3 col-sm-6 ">
					<label for="telefone">Observa&ccedil;&atilde;o</label> <input
						type="text" class="form-control input-sm"
						placeholder="Observa&ccedil;&atilde;o"
						ng-model="pedidoEntrega.itemSelecionado.observacao" id="Observacao"
						nome="Observacao">
				</div>

			</div>
			<div class="panel-footer text-right">
				<button type="button" ng-click="pedidoEntrega.save()" class="btn btn-primary">Salvar</button>
			</div>
		</div>
	</div>

	<div class="col-lg-12">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Pedidos de entregas</h3>
			</div>
			<div class="panel-body">
				<table class="table table-hover table-condensed">
					<thead>
						<tr>
							<th>ID</th>
							<th>Pedido_id</th>
							<th>Cep</th>
							<th>Uf</th>
							<th>Municipio</th>
							<th>Código do Municipio</th>
							<th>Bairro</th>
							<th>Logradouro</th>
							<th>Numero</th>
							<th>Complemento</th>
							<th>Observa&ccedil;&atilde;o</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="itm in pedidoEntrega.itens">
							<td>{{itm.id}}</td>
							<td>{{itm.pedido.id}}</td>
							<td>{{itm.cep}}</td>
							<td>{{itm.uf}}</td>
							<td>{{itm.municipio}}</td>
							<td>{{itm.codigomunicipio}}</td>
							<td>{{itm.bairro}}</td>
							<td>{{itm.logradouro}}</td>
							<td>{{itm.numero}}</td>
							<td>{{itm.complemento}}</td>
							<td>{{itm.observacao}}</td>
							<td>
								<button class="btn btn-warning btn-sm"
									ng-click="pedidoEntrega.select(itm)">
									<i class="fa fa-edit"></i>
								</button>
								<button class="btn btn-danger btn-sm"
									ng-click="pedidoEntrega.askDelete(itm)">
									<i class="fa fa-remove"></i>
								</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

</div>