<!doctype html>
<html lang="en" style="zoom: 80%"  ng-app="CIntegrator">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" sizes="57x57" href="img/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="img/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="img/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="img/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="img/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="img/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="img/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="img/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="img/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="img/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="img/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png">
        <link rel="manifest" href="img/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="img/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">

        <title>Convergência - Integrador ecommerce [{{$state.current.data.pageTitle}}]</title>
        <!-- STYLES -->
        <!-- build:css lib/css/main.min.css -->
        
        <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/webjars/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="/webjars/rdash-ui/dist/css/rdash.min.css">
        <link rel="stylesheet" type="text/css" href="/webjars/angular-block-ui/dist/angular-block-ui.min.css" />
        <link rel="stylesheet" type="text/css" href="/webjars/angularjs-datepicker/2.1.15/dist/angular-datepicker.min.css">
        <link rel="stylesheet" type="text/css" href="/webjars/sweetalert/dist/sweetalert.css">
        <!-- endbuild -->
        <!-- SCRIPTS -->
        <!-- build:js lib/js/main.min.js -->
        
        <script type="text/javascript" src="/webjars/jquery/dist/jquery.min.js" ></script>
        <script type="text/javascript" src="/webjars/angular/angular.min.js"></script>
        <script type="text/javascript" src="/webjars/angular-bootstrap/ui-bootstrap-tpls.js"></script>
        <script type="text/javascript" src="/webjars/angular-cookies/angular-cookies.min.js"></script>
        <script type="text/javascript" src="/webjars/angular-ui-router/release/angular-ui-router.min.js"></script>
        <script type="text/javascript" src="/webjars/angular-ui-mask/dist/mask.min.js"></script>
        <script type="text/javascript" src="/webjars/angular-resource/angular-resource.min.js"></script>
        <script type="text/javascript" src="/webjars/ngstorage/ngStorage.min.js"></script>
        <script src="dist/angular-scrollable-table.min.js" type="text/javascript"></script>
        <script type="text/javascript" src="/webjars/angular-block-ui/dist/angular-block-ui.min.js"></script>
        <script type="text/javascript" src="/webjars/moment/2.17.0/moment.js" ></script>
        <script type="text/javascript" src="/webjars/moment/2.17.0/locale/pt-br.js" ></script>
        <script type="text/javascript" src="/webjars/angularjs-datepicker/2.1.15/dist/angular-datepicker.min.js"></script>
        <script type="text/javascript" src="/webjars/sweetalert/dist/sweetalert.min.js"></script>
        <script type="text/javascript" src="/webjars/angular-sweetalert/SweetAlert.js"></script>
        
        
        <script src="dist/angular-scrollable-table.min.js" type="text/javascript"></script>
        <!-- endbuild -->
        <!-- Custom Scripts -->

        <!-- keep-after-build -->
        <!-- 
        <script type="text/javascript" src="js/dashboard.min.js"></script>
        -->
        <!-- end-keep-after-build -->

        <!-- remove-after-build -->
        <link href="css/icon-panel.css" rel="stylesheet" type="text/css"/>
        <link href="css/scrollable-table.css" rel="stylesheet" type="text/css"/>
        <script src="js/collapse-panel.js" type="text/javascript"></script>
        <script type="text/javascript" src="js/module.js"></script>
        <script type="text/javascript" src="js/routes.js"></script>
        <script type="text/javascript" src="js/directives/loading.js"></script>
        <script type="text/javascript" src="js/directives/widget-body.js"></script>
        <script type="text/javascript" src="js/directives/widget-footer.js"></script>
        <script type="text/javascript" src="js/directives/widget-header.js"></script>
        <script type="text/javascript" src="js/directives/widget.js"></script>  

        <script type="text/javascript" src="js/oauth/hmac-sha1.js"></script>
        <script type="text/javascript" src="js/oauth/hmac-sha256.js"></script>
        <script type="text/javascript" src="js/oauth/oauth-1.0a.js"></script>
        <script type="text/javascript" src="js/oauth/enc-base-64-min.js"></script>

        <script type="text/javascript" src="js/services/usuario-srv.js"></script>
        <script type="text/javascript" src="js/controllers/login-ctrl.js"></script>
        <script type="text/javascript" src="js/resources/usuario-srv.js"></script>
        <script type="text/javascript" src="js/controllers/usuario-ctrl.js"></script>


        <script type="text/javascript" src="js/interceptors/security-interceptor.js"></script>
        <!--<script type="text/javascript" src="js/services/person-srv.js"></script>-->

        <script type="text/javascript" src="js/controllers/alert-ctrl.js"></script>
        <script type="text/javascript" src="js/controllers/master-ctrl.js"></script>
        <!--<script type="text/javascript" src="js/controllers/person-ctrl.js"></script>-->

        <script type="text/javascript" src="js/controllers/loja-ctrl.js"></script>
        <script type="text/javascript" src="js/resources/loja-srv.js"></script>

        <script type="text/javascript" src="js/controllers/categoria-ctrl.js"></script>
        <script type="text/javascript" src="js/resources/categoria-srv.js"></script>
        <script src="js/controllers/departamento-ctrl.js" type="text/javascript"></script>
        <script src="js/controllers/subcategoria-ctrl.js" type="text/javascript"></script>
        <script src="js/controllers/categorizacao-ctrl.js" type="text/javascript"></script>

        <script type="text/javascript" src="js/controllers/produto-ctrl.js"></script>
        <script type="text/javascript" src="js/resources/produto-srv.js"></script>

        <script type="text/javascript" src="js/controllers/cliente-ctrl.js"></script>
        <script type="text/javascript" src="js/resources/cliente-srv.js"></script>

        <script type="text/javascript" src="js/controllers/estoque-ctrl.js"></script>
        <script type="text/javascript" src="js/resources/estoque-srv.js"></script>

        <script type="text/javascript" src="js/controllers/pedido-ctrl.js"></script>
        <script type="text/javascript" src="js/resources/pedido-srv.js"></script>

        <script type="text/javascript" src="js/controllers/pedido-entrega-ctrl.js"></script>
        <script type="text/javascript" src="js/resources/pedido-entrega-srv.js"></script>

        <script type="text/javascript" src="js/controllers/pedido-pagamento-ctrl.js"></script>
        <script type="text/javascript" src="js/resources/pedido-pagamento-srv.js"></script>

        <script type="text/javascript" src="js/controllers/pedido-produto-ctrl.js"></script>
        <script type="text/javascript" src="js/resources/pedido-produto-srv.js"></script>

        <script type="text/javascript" src="js/controllers/pedido-rastreamento-ctrl.js"></script>
        <script type="text/javascript" src="js/resources/pedido-rastreamento-srv.js"></script>
        
        <script src="js/controllers/precificacao-ctrl.js" type="text/javascript"></script>
        
        <script src="js/controllers/jobs-ctrl.js" type="text/javascript"></script>
        <script src="js/resources/job-srv.js" type="text/javascript"></script>

        <script src="js/controllers/erro-web-vendas-ctrl.js" type="text/javascript"></script>
        <script src="js/resources/erro-web-vendas-srv.js" type="text/javascript"></script>

        <script src="js/controllers/JobLogCtrl.js" type="text/javascript"></script>
        <script src="js/resources/JobLogService.js" type="text/javascript"></script>


        <script src="js/controllers/dashboard-ctrl.js" type="text/javascript"></script>



        <!-- end-remove-after-build -->
    </head>
    <body block-ui="main" ng-controller="MasterCtrl as m" ng-init="m.init()" >
        <div id="page-wrapper" ng-class="{'open': toggle}" ng-cloak>

            <!-- Sidebar -->
            <div id="sidebar-wrapper">
                <ul class="sidebar">
                    <li class="sidebar-main">
                        <a ng-click="toggleSidebar()">
                            Dashboard
                            <span class="menu-icon glyphicon glyphicon-transfer"></span>
                        </a>
                    </li>
                    <li class="sidebar-title"><span>NAVIGATION</span></li>
                    <li class="sidebar-list">
                        <a href="#">Dashboard <span class="menu-icon fa fa-tachometer"></span></a>
                    </li>
                    <li class="sidebar-list">
                        <a href="#/loja">Loja <span class="menu-icon fa fa-table"></span></a>
                    </li>
                    <li class="sidebar-list">
                        <a href="#/departamento">Departamento <span class="menu-icon fa fa-table"></span></a>
                    </li>
                    <li class="sidebar-list">
                        <a href="#/categoria">Categoria <span class="menu-icon fa fa-table"></span></a>
                    </li>
                    <li class="sidebar-list">
                        <a href="#/sub-categoria">Sub-categoria <span class="menu-icon fa fa-table"></span></a>
                    </li>
                    <li class="sidebar-list">
                        <a href="#/categorizacao">Categorizacao<span class="menu-icon fa fa-table"></span></a>
                    </li>
                    <li class="sidebar-list">
                        <a href="#/produto">Produto <span class="menu-icon fa fa-table"></span></a>
                    </li>
                    <li class="sidebar-list">
                        <a href="#/cliente">Cliente <span class="menu-icon fa fa-table"></span></a>
                    </li>
                    <li class="sidebar-list">
                        <a href="#/estoque">Estoque <span class="menu-icon fa fa-table"></span></a>
                    </li>
                    <li class="sidebar-list">
                        <a href="#/precificacao">Precifica&ccedil;&atilde;o <span class="menu-icon fa fa-table"></span></a>
                    </li>
                    <li class="sidebar-list">
                        <a href="#/pedido">Pedido <span class="menu-icon fa fa-table"></span></a>
                    </li>

                    <li class="sidebar-title"><span>PROCESSAMENTOS</span></li>
                    <li class="sidebar-list">
                        <a href="#/jobs">Jobs <span class="menu-icon fa fa-gears"></span></a>
                    </li>
                    <li class="sidebar-list">
                        <a href="#/erro-web-venda">Notifica&ccedil;&otilde;es <span class="menu-icon fa fa-file-o"></span></a>
                    </li>
                    <!--    <li class="sidebar-list">
                          <a href="#/pedido-entrega">Entrega <span class="menu-icon fa fa-table"></span></a>
                      </li>
                      <li class="sidebar-list">
                          <a href="#/pedido-pagamento">Pagamento <span class="menu-icon fa fa-table"></span></a>
                      </li>
                      <li class="sidebar-list">
                          <a href="#/pedido-produto">Produto <span class="menu-icon fa fa-table"></span></a>
                      </li>
                      <li class="sidebar-list">
                          <a href="#/pedido-rastreamento">Rastreamento <span class="menu-icon fa fa-table"></span></a>
                      </li>-->
                </ul>
                <div class="sidebar-footer" style="color: #b2bfdc">

                    <div class="col-xs-12"  >
                        Vers&atilde;o {{m.applicationVersion}}
                    </div>
                </div>
            </div>
            <!-- End Sidebar -->

            <div id="content-wrapper">
                <div class="page-content">

                    <!-- Header Bar -->
                    <div class="row header">
                        <div class="col-xs-12" style="background-color: white; padding-bottom: 5px;">
                            <div class="user pull-right">
                                <div class="item dropdown" uib-dropdown>
                                    <a href="#" class="dropdown-toggle" uib-dropdown-toggle>
                                        <img src="img/avatar.jpg">
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li class="dropdown-header">
                                            Joe Bloggs
                                        </li>
                                        <li class="divider"></li>
                                        <li class="link">
                                            <a href="" ng-click="m.logout();">
                                                Logout
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="item dropdown" uib-dropdown>
                                    <a href="#" class="dropdown-toggle" uib-dropdown-toggle>
                                        <i class="fa fa-bell-o"></i>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li class="dropdown-header">
                                            Notifications
                                        </li>
                                        <li class="divider"></li>
                                        <li>
                                            <a href="#">Server Down!</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="meta">
                                <div class="page" >
                                    <h1>{{$state.current.data.pageTitle}}
                                        <small>{{$state.current.data.pageDetail}}</small>
                                    </h1>
                                </div>
                                <div class="breadcrumb-links">
                                    {{$state.current.data.breadcrumb}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Header Bar -->

                    <!-- Main Content -->
                    <div ui-view></div>

                </div><!-- End Page Content -->
            </div><!-- End Content Wrapper -->
        </div><!-- End Page Wrapper -->
    </body>
</html>
